{% extends "base.html" %}
<!--Takes the code from base but overwrites it with the code you type in here-->
{% block title %}Home{% endblock %}
{% block body %}
<body class="text-center" style="margin-top: 100; margin-right: 100;">
  <style>
    input{
      width: 40% !important;
      margin: auto;
    }
    text{
      margin: auto;
    }
  </style>
  <div class="container" style="text-align: center;">
    <form method="POST" class="form-register" style="color:black">
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <h1 style="font-family: Monospace; color: black; font-size: 35px; margin: auto;">
        Login
      </h1>
      <br>
      <br>

      {{ form.email.label() }}
      {{ form.email(class="form-control", placeholder="Email") }}
      <br>
      {{ form.password.label() }}
      {{ form.password(class="form-control", placeholder="Password") }}

      

      <br>
      {{ form.recaptcha }}
      <style>
        .text-center {
            text-align: center;
        }
    
        .g-recaptcha {
            display: inline-block;
        }
    </style>
      <br>

      {{ form.submit(class="btn btn-lg btn-block btn-dark") }}
    </form>
    {% for field, errors in form.errors.items() %}
  <p1 style="color: red;">
    {{ ', '.join(errors) }}
  </p1>
{% endfor %}
<a href="/sign-up">Don't have an account? Register here!</a>
  </div>
</body>
{% endblock %}