{% extends "base.html" %}
<!--Takes the code from base but overwrites it with the code you type in here-->
{% block title %}Transaction{% endblock %}
{% block body %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-register">
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <h1 align='center' >
        Please choose amount and to which account you would like to transfer to
      </h1>
      <br>
      <br>

      {{ form.amount.label() }}
      {{ form.amount(class="form-control", placeholder="Amount") }}

      {{ form.from_user_name.label() }}
      {{ form.from_user_name(class="form-control", placeholder="From which account? (Username)") }}

      {{ form.to_user_name.label() }}
      {{ form.to_user_name(class="form-control", placeholder="To which account?") }}

      {{ form.message.label() }}
      {{ form.message(class="form-control", placeholder="Message to receiver") }}

      <br>

      {{ form.submit(class="btn btn-lg btn-block btn-dark") }}
    </form>
    {% for field, errors in form.errors.items() %}
  <p1 style="color: red;">
    {{ ', '.join(errors) }}
  </p1>
{% endfor %}
  </div>
</body>

{% endblock %}